{% extends 'base.html.twig' %}

{% block title %}Séries categorie{% endblock %}

{% block body %}
    {% for program in programs %}
    <div class="media">
        <div class="media-body">
            <h1 class="mt-0">{{program.id}} {{program.title}}</h1>
            <p>{{ program.synopsys }}</p>
            <a href="{{ path("program_show", { id: program.id }) }}">Voir la fiche</a>
        </div>
    </div>
    {% endfor %}

    <a href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>
{% endblock %}
