{% extends 'base.html.twig' %}

{% block title %}Episodes {{ program.title }} {{ season.number }}{% endblock %}

{% block body %}
    <div class="media">
        <h2 class="mt-0">Toutes les épisodes de "{{ program.title }}" - de la saison {{ season.number }}</h2>
        {% for episode in episodes %}
            <div class="media-body">
                <h3 class="mt-0">{{ episode.number }} - {{ episode.title }}</h3>
                <p>{{episode.synopsys}}</p>
            </div>
        {% endfor %}
    </div>

    <a href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>
{% endblock %}
